body{
    color: #333;
    font-family: arial;
}
h1{
    font-weight: normal;
    margin: 20px auto;
    text-align: center;
}
form{
    margin: 20px auto;
    width: 500px;
}
input{
    border-radius: 10px;
    border: 3px solid #ccc;
    box-sizing: border-box;
    display: block;
    font-size: 2em;
    margin: 10px auto;
    outline: none !important;
    padding: 8px 16px;
    width: 100%;
}

/* validation styles */

input.valid{
    border-color: green;
}
input.invalid{
    border-color: orange;
}
input + p{
    color: orange;
    /* font-family: arial; */
    font-size: 0.9em;
    font-weight: bold;
    height: 0;
    margin: 0 10px;
    opacity: 0;
    text-align: center;
}
input.invalid + p {
    height: auto;
    margin-bottom: 20px;
    opacity: 1;
}
